In [ ]:
print ("hello world")

In [ ]:
2+4

In [ ]:
print("4+2")

In [5]:
type (123)

int

In [6]:
type ("123")

str

In [7]:
print("hello",123,4.10)

hello 123 4.1

In [13]:
print ("hi",120,2321.131, sep="===") ##to change the seperation

hi===120===2321.131

In [14]:
print ("hello piaic")
print ("hello Pythen")
print ("hello AI")

hello piaic
hello Pythen
hello AI

In [15]:
print ("hello piaic", end="")
print ("hello Pythen", end="")
print ("hello AI", end="")

hello piaichello Pythenhello AI

In [16]:
print ("hello piaic", end="\t")
print ("hello Pythen", end="\t")
print ("hello AI", end="\t")

hello piaic	hello Pythen	hello AI

In [29]:
name = "nasir"
age = 22

print ("my name is " +name+ " and my age is " +str(age)) #type casting karni paregi(method 1)

my name is nasir and my age is 22

In [33]:
print ("my name is {} and my age is {}".format(name,age)) #methd 2

my name is nasir and my age is 22

In [34]:
print ( f"my name is {name} and my age is {age}") #method 3

my name isnasir and my age is 22

In [35]:
print ("hello"*3)

hellohellohello

In [37]:
print (4*"hello")

hellohellohellohello

In [40]:
print (3*"sadaque"*3)

sadaquesadaquesadaquesadaquesadaquesadaquesadaquesadaquesadaque

In [52]:
age = 12
age += 14
print (age)
age *= 2
print(age)

26
52

In [47]:
a=4 
b=1.2
d=a/b
print(d)
print(round(d,2))#for round of

3.3333333333333335
3.33

In [49]:
trrt= 16%4
print(trrt)

0

In [51]:
trrrt= 17%4
print(trrrt)

1

In [54]:
add1=1+4*3+12
print(add1)

25

In [58]:
print( f"The sum of 2 plus 2 is {4}")

The sum of 2 plus 2 is 4

In [59]:
if 2 + 2 == 4: 
    print("Everything makes sense.")

Everything makes sense.

In [61]:
if 4 != 123:
    print ("correct")

correct

In [63]:
if 5 < 8:
    print("Yep, it's cat.") 
    else:
        print("Nope, not cat.")

SyntaxError: invalid syntax (<ipython-input-63-b2084a6723be>, line 3)